<div class="container">

    <nav class="navbar">
        <div class="navbar-brand">

            <a class="navbar-item has-text-weight-bold" href="/">
                >_ Deepankar Tyagi
            </a>


            <a class="navbar-item has-text-weight-normal is-hidden-desktop " href="/resume">
                Resume
            </a>

        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
                <a class="navbar-item " href="/resume">
                    Resume
                </a>
                <a class="navbar-item " href="/projects">
                    Projects
                </a>
                <div class="navbar-item">
                </div>
            </div>
        </div>

    </nav>
</div>
